# Git
.git/
.gitignore

# VS Code
.vscode/
*.code-workspace

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db

# 中间结果（体积大，不入镜像）
detetion_test_results/
rtdetr_visdrone_train_val/
rtdetr_coco_val/

# 数据集（体积大，建议运行时挂载）
dataset/

# 测试图片
testimgs/
